[run]
branch = True
include =
  fracatal/scripts/*
  fracatal/*
  fracatal/functional_jax/*
  fracatal/functional_jax/*
  fracatal/functional_np/*
omit = 
  tests/*
[report]
include =
  fracatal/scripts/*
  fracatal/**
  fracatal/functional_jax/*
  fracatal/functional_np/*
omit = 
  tests/*
